html {
  height: 100%;
}

body {
  min-height: 100%;
  color: #fff;
  background-image: linear-gradient(-225deg, #00A1BF 0%, #0D6FC1 48%, #524EA1 100%);
  background-size: cover;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  touch-action: manipulation;
}

.logo {
  left: 20px;
  top: 20px;
}

.btn {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  padding: 8px 12px;
  user-select: none;
  transition: 0.2s all;

  &:hover {
    transform: translate(0, -1px);
  }

  &:active {
    transform: scale(0.95, 0.95) translate(0, 1px);
  }
}

#base-actions {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;

  .btn {
    padding: 12px 18px;
    font-size: 1.4rem;
  }
}

#drawings {
  width: 100%;
  height: 250px;

  svg {
    .circle-group:hover {
      cursor: pointer;
      opacity: 0.8;
    }

    text.title {
      fill: #fff;
      text-anchor: middle;
    }

    text.desc {
      fill: #fff;
      opacity: 0.75;
      text-anchor: middle;
    }
  }
}

#main {
  width: 500px;
  margin: 0 auto;
}

.panel {
  //background-color: rgba(255, 255, 255, 0.2);
  background-color: #fff;
  color: #333;
  width: 400px;
  position: absolute;
  right: 10px;
  top: 10px;
  bottom: 10px;

  .close-button {
    cursor: pointer;
    font-size: 2rem;
    padding: 14px 17px;
    position: absolute;
    line-height: 0.5;
    right: 0;
    top: 0;

    &:hover {
      opacity: 0.8;
    }
  }

  .panel-option {
    background-color: rgba(255, 255, 255, 0.2);
    margin: 10px 10px 0px 10px;
    position: relative;
    padding: 6px;
    border-radius: 3px;

    &:hover {
      background-color: #efefef;
      cursor: pointer;

      .panel-option-buy {
        text-decoration: underline;
      }
    }

    .panel-option-cost {
      position: absolute;
      right: 10px;
      bottom: 6px;
      opacity: 0.9;
    }
  }

  h2 {
    margin-left: 10px;
  }

}
